@use "Variables";
button {
    width: 100%;
    overflow-wrap: break-word;
    padding: 21px;
    background: Variables.$dark;
    color: Variables.$white;
    font-size: 0.95rem;
    font-weight: 600;
    border-radius: Variables.$border-radius;
    border: none;
    cursor: pointer;
    transition: opacity .2s ease-in;
    box-shadow: 2px 2px 8px 0px rgba(66, 68, 90, 0.5);

    &.draw {
      margin-top: Variables.$margin-top;
    }

    &:hover {
      opacity: .8;
    }

    &:disabled {
      background: Variables.$gray-2;
      color: Variables.$dark;
    }    
} 