<div class="container">
  <app-header [chuckFace]="drawJokeForm.value.name === ''"></app-header>
  <app-quote
    [quote]="joke"
    [pending]="jokePending"
    [error]="jokeError"></app-quote>

  <form [formGroup]="drawJokeForm" (ngSubmit)="getJoke()">
    <app-custom-select
      [placeholder]="'SelectCategory' | translate"
      [options]="availableCategories"
      formControlName="selectedCategories"></app-custom-select>

    <app-input
      label="Impersonate Chuck Norris"
      name="name"
      formControlName="name"></app-input>
    <app-button
      type="submit"
      [buttonText]="
        'DrawRandomJoke'
          | translate: { name: drawJokeForm.value.name || 'Chuck Norris' }
      "></app-button>
  </form>

  <form
    [formGroup]="downloadJokeForm"
    class="bottom-controls"
    (ngSubmit)="downloadJokes()">
    <div class="counter-wrapper">
      <app-counter
        formControlName="count"
        [error]="downloadJokeForm.invalid"></app-counter>
    </div>

    <div class="button-wrapper">
      <app-button
        type="submit"
        [disable]="downloadJokeForm.invalid"
        [buttonText]="
          'SaveJoke' | translate: { count: downloadJokeForm.value.count }
        "></app-button>
    </div>
  </form>
  <div class="counter-error error" *ngIf="downloadJokeForm.invalid">
    {{ 'Error.CounterRange' | translate }}
  </div>
</div>
