<div class="container">
  <app-header [chuckFace]="true"></app-header>
  <app-input
    label="Impersonate Chuck Norris"
    name="name"
    [(value)]="value"></app-input>
  <app-custom-select
    [placeholder]="'SelectCategory' | translate"
    [options]="options"
    (selected)="selectedCategories = $event"></app-custom-select>
    <app-button
    [buttonText]="
      'DrawRandomJoke' | translate: { name: name || 'Chuck Norris' }
    "></app-button>
      <app-counter
    [value]="jokes"
    (valueChange)="jokes = $event"
    [error]="true"></app-counter>
</div>
